@font-face {
  font-family: 'GFF Latin';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFLatinW05-Thin.woff')
  format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'GFF Latin';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFLatinW05-Regular.woff')
  format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GFF Latin';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFLatinW05-Medium.woff')
  format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'GFF Latin';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFLatinW05-Bold.woff')
  format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'GFF Latin';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFLatinW05-ExtraBold.woff')
  format('woff');
  font-weight: 900;
}
/* ar */
@font-face {
  font-family: 'GFF Ar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFArabicW05-Regular.woff')
  format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GFF Ar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFArabicW05-Medium.woff')
  format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'GFF Ar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFArabicW05-Bold.woff')
  format('woff');
  font-weight: 700;
}
/* hi */
@font-face {
  font-family: 'GFF Devanagar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFDevanagariW05-Regular.woff')
  format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GFF Devanagar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFDevanagariW05-Medium.woff')
  format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'GFF Devanagar';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFDevanagariW05-Bold.woff')
  format('woff');
  font-weight: 700;
}
/* th */
@font-face {
  font-family: 'GFF Thai';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFThaiW05-Light.woff')
  format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'GFF Thai';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFThaiW05-Regular.woff')
  format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'GFF Thai';
  src: url('https://dl-tata.freefireind.in/common/web_event/common/fonts/website/GFFThaiW05-Bold.woff')
  format('woff');
  font-weight: 700;
}

